<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t('zip_code_ranges') %></h1>

<%= render :partial => 'mws_hack_warning' %>

<table class="index">
  <thead>
    <tr>
      <th><%= t('start_zip') %></th>
      <th><%= t('end_zip') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @zip_code_ranges.each do |range| %>
      <tr>
        <td><%= range.start_zip %></td>
        <td><%= range.end_zip %></td>
        <td class="actions">
          <%= link_to_edit range, :no_text => true %>
          <%= link_to_delete range, :no_text => true%>
        </td>
      </tr>
    <% end %>
    <% if @zip_code_ranges.empty? %>
      <tr><td colspan="3"><%= t('none') %></td></tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= button_link_to t('new_zip_code_range'), new_admin_zip_code_range_url, :icon => 'add' %>
</p>
